.progress {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  h1{
      margin-bottom: 5px;
  }
  a{
      text-decoration: underline;
      color: blue($color: #585858);
  }
}
@media (max-width: 450px) {
  .progress {
    // align-items: flex-start;
    justify-content: flex-start;
    h1{
        text-align: center;
    }
  }
}
