.faq {
  width: 100%;
  padding-top: 70px;
  .container {
    h1 {
      color: #e40061;
      padding-bottom: 37px;
      margin-bottom: 0;
      border-bottom: 1px solid #828282;
    }
    .faqBox {
      width: 100%;
      border-bottom: 1px solid #828282;
      div {
        &.normal {
          font-family: "Metropolis";
          font-style: normal;
          color: #595959 !important;
          font-weight: normal !important;
          font-size: 18px;
          line-height: 18px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 0 24px;
          margin: 0;
          border-bottom: none;
          cursor: pointer;
        }
        &.pink {
          font-family: "Metropolis";
          font-style: normal;
          color: #e40061;
          font-weight: bold !important;
          font-size: 18px;
          line-height: 18px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 0 24px;
          margin: 0;
          border-bottom: none;
          cursor: pointer;
        }
        img {
          width: 17px;
          height: 10px !important;
          padding-right: 15px;
        }
      }
      .disp {
        display: none;
      }
      .back {
        background-color: #eaedf1;
        font-size: 16px;
        line-height: 26px;
        width: 92%;
        padding: 18px 16px;
        margin: 0;
        margin-bottom: 25px;
        font-family: "Metropolis" !important;
        font-style: normal;
        font-weight: normal;
        color: #585858;
        ul {
          padding-left: 20px;
          margin: 5px 0;
        }
      }
      p {
        background-color: #eaedf1;
        font-size: 16px;
        line-height: 26px;
        width: 92%;
        padding: 18px 16px;
        margin: 0;
        margin-bottom: 25px;
      }
      @media (min-width: 1020px) {
        .back {
          width: 96%;
        }
        p {
          width: 96%;
        }
      }
    }
  }
}

.faqs {
  width: 100%;
  .container {
    .faqBin {
      width: 100%;
      border-bottom: 1px solid #828282;
      // padding: 15px;
      .question {
        font-family: "Metropolis";
        font-style: normal;
        color: #595959;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        display: flex;
        align-items: flex-start;
        padding: 20px 0;
        // padding: 5px 0;
        margin: 0;
        border-bottom: none;
        cursor: pointer;
        position: relative;
        transition: all 0.4s ease;
        .id {
          width: 30px;
        }
        .title {
          width: 95%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: "Metropolis";
          font-style: normal;
          color: #595959;
          font-weight: normal;
          font-size: 18px;
          line-height: 18px;
        }
        img {
          width: 17px;
          height: 10px !important;
          padding-right: 15px;
        }
      }
      .answer {
        opacity: 0;
        max-height: 0;
        overflow-y: hidden;
        transition: all 0.2s ease;
        background-color: #eaedf1;
        font-size: 16px;
        line-height: 26px;
        width: 92%;
        font-family: "Metropolis" !important;
        font-style: normal;
        font-weight: normal;
        color: #585858;
        ul {
          padding-left: 20px;
          margin: 5px 0;
        }
      }
      &.open {
        .question {
          .id {
            color: #e40061;
            font-weight: bold;
          }
          .title {
            color: #e40061;
            font-weight: bold;
          }
          // padding: 5px 0 24px;
        }
        .answer {
          max-height: 1000px;
          opacity: 1;
          padding: 18px 16px;
          margin: 0;
          margin-bottom: 25px;
        }
      }
      @media (min-width: 1020px) {
        .answer {
          width: 96%;
        }
      }
    }
  }
}
