.product {
  width: 100%;
  padding: 20px 0 20px;
  .container {
    h1 {
      margin-bottom: 30px;
      img {
        width: 70px !important;
      }
    }
    img {
      width: 100%;
    }
    .redBtn {
      margin-left: 15px;
    }
    .Slider {
      margin-bottom: 20px;
      .Slide {
        .equipCard {
          margin: 15px;
          height: fit-content !important;
          box-shadow: 1px 0 10px 1px rgb(0 0 0 / 25%);
          padding: 10px 0 !important;
          img {
            width: 380px;
            // box-shadow: 1px 1px 0px 1px rgb(0 0 0 / 25%);
          }
          .heading {
            font-size: 18px;
            line-height: 24px;
            padding: 0 10px;
            margin-bottom: 5px;
          }
          .para {
            width: 95%;
            font-size: 16px;
            margin: 0;
            // color: #919eab;
            padding: 0 10px 15px;
          }
          .bottom {
            padding: 0 0 10px;
            margin-left: 10px;
            .redBtn{
              margin: 0;
            }
          }
        }
      }
      @media(min-width: 450px){
        .Slide{
          .equipCard{
            &:first-child{
              margin-left: 5px;
            }
            img{
              width: 330px;
            }
          }
        }
      }
    }
  }
}
